/* Lesson Component */

.lessonImg {
  width: 120px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffefe;
  border-radius: 25px;
  margin-block: 3px;
  text-align: center;
}

.lessonTitle {
  font-size: 14px;
  font-weight: bold;
  margin-block: 5px 3px;
}

.lessonDays {
  font-size: 12px;
  color: #aeb1b2;
  line-height: 1;
}

/* Lessons Component */

.heading {
  font-size: 18px;
  font-weight: bolder;
}

.lessons {
  overflow: hidden;
}

.lessons-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-block: 20px;
  overflow-x: scroll;
}